@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border: solid thin #888888;
    margin: 20px;
    border-radius: 4px;
}

fieldset#cadastro {
    background: url("../_imagem/icone-cadastro.png") no-repeat 95% 68%;
}

label#nome {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
    margin-left: 20px;
}

input#idFname {
    width: 380px;
    margin-left: 20px;
    border: solid thin #888888;
    border-radius: 4px;
    padding: 5px;
}

input#idFname:hover {
    background-color: #dedede;
}

label#matricula {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
    margin-left: 20px;
}

input#idNmatricula {
    margin-left: 20px;
    border: solid thin #888888;
    border-radius: 4px;
    padding: 5px;
}

input#idNmatricula:hover {
    background-color: #dedede;
}

input#idSenviar {
    width: 390px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background: #ffffff;
    color: #000000;
    font-size: 13pt;
    border: solid thin #888888;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}


input#idSenviar:hover {
    opacity: 1;
    background: #4caf50;
    color: #ffffff;
}

